<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



    <style>
        footer {
            background-color: #f8f9fa;
            padding: 2px;
            text-align: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            height: 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <img src="XD.png" alt="Imagen" class="img-fluid" style="width: 100; height:50PX">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../templates/index.html"><button
                                type="button" class="btn btn-light">inicio</button></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../nosotros/Nosotros.html"><button
                                type="button" class="btn btn-light">Nosotros</button></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../servicios/Servicios.html"><button
                                type="button" class="btn btn-light">Servicios</button></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=" ../clientes/Clientes.html"><button
                                type="button" class="btn btn-light">Clientes</button></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../contactenos/Contactenos.html"><button
                                type="button" class="btn btn-light">Contactenos</button></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../reporte/Reporte.html"><button
                                type="button" class="btn btn-light">Reporte</button></a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    <body>

        <div class="container text-center">
            <div class="row">
                <div class="col order-last">
                    <img src="1.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Seguridad Electrica</h2>
                    <p>Implementación de todos los productos y servicios basados en dispositivos electrónicos, los
                        cuales ofrecen una implementación de controles y avisos automáticos, logrando un complemento con
                        los elementos generales de seguridad.</p>
                </div>
                <div class="col">
                    <img src="2.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Vigilancia IP
                    </h2>
                    <p>Es una tecnología visual que combina los beneficios analógicos de los sistemas tradicionales de
                        CCTV con las ventajas digitales de las redes de comunicación IP, permitiendo las supervisión
                        local y remota de imágenes y audio.</p>
                </div>
                <div class="col order-first">
                    <img src="3.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Biométricos</h2>
                    <p>Dispositivos de alta tecnología capaces de leer e identificar parámetros biométricos los cuales
                        son óptimos para brindar una mayor seguridad y mejorar el control de accesos.</p>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col order-last">
                    <img src="4.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Alarmas
                    </h2>
                    <p>Solución mediante dispositivos capaces de generar un alto nivel de sonido prolongado y a la vez
                        combinado con la emisión de luces, utilizando para alertar ante situaciones en específico.</p>
                </div>
                <div class="col">
                    <img src="5.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Control de Acceso
                    </h2>
                    <p>Mecanismo que, en función de la identificación ya autentificada, permita acceder a datos o
                        recursos. Este sistema tiene diversidad de aplicaciones como: tarjeta, tag de proximidad o
                        código de seguridad.</p>
                </div>
                <div class="col order-first">
                    <img src="6.jpg" alt="Imagen" class="img-fluid" style="width: 200px;  height: 200px">
                    <h2>Redes Inalámbricas</h2>
                    <p>Permite la comunicación remota entre dos puntos a larga distancia sin necesidad de una
                        infraestructura cableada. Esto permite el manejo de alta velocidad y sin necesidad de un
                        intermediario o proveedor de internet.</p>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col order-last">
                    <img src="9.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Soporte y Mantenimiento
                    </h2>
                    <p>Se garantiza el soporte continuo y respuesta programada, que responde según el plan adquirido.</p>
                </div>
                <div class="col">
                    <img src="8.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Video Wall
                    </h2>
                    <p>Solución sólida para la gestión de múltiples fuentes de video y gráficos en sistemas de
                        visualización de dos o mas pantallas. Sistemas con capacidad de trabajo continuo y de
                        alerta temprana.</p>
                </div>
                <div class="col order-first">
                    <img src="7.jpg" alt="Imagen" class="img-fluid" style="width: 200px; height: 200px">
                    <h2>Video Analítica</h2>
                    <p>Cámaras equipadas con sistemas de protección perimetral, simplificando el monitoreo de múltiples
                        dispositivos. Sus áreas pueden comprender: instrucción, sabotaje, detección de movimiento,
                        objetos removidos u olvidados, merodeo y conteo de personal o vehicular.</p>
                </div>
            </div>
        </div>


        <footer>

            <p>&copy; Derechos</p>
        </footer>
    </body>

</html>